@model MyLMSProject.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseTitle" class="control-label"></label>
                <input  asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseImg" class="control-label"></label>
                <input type="file" name="ImgFile" asp-for="CourseImg" class="form-control" />
                <span asp-validation-for="CourseImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseHours" class="control-label"></label>
                <input asp-for="CourseHours" class="form-control" />
                <span asp-validation-for="CourseHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLanguage" class="control-label"></label>
                <input asp-for="CourseLanguage" class="form-control" />
                <span asp-validation-for="CourseLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursePrice" class="control-label"></label>
                <input asp-for="CoursePrice" class="form-control" />
                <span asp-validation-for="CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLecture" class="control-label"></label>
                <input asp-for="CourseLecture" class="form-control" />
                <span asp-validation-for="CourseLecture" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Dept">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label"></label>
                <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.Instructor">
                    <option value="">-- Select Instrcutor --</option>
                </select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseType" class="control-label"></label>
                <select asp-for="CourseType" class="form-control" asp-items="ViewBag.Type">
                    <option value="">-- Select Type --</option>
                </select>
                <span asp-validation-for="CourseType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

